<section class="container mb-4">
    <a class="text-dark text-decoration-none fw-bold" [routerLink]="['/category', (post?.category)]"><small>{{post?.category}}</small></a>
    <h1>{{post?.title}}</h1>
    <p>{{post?.author}} - {{post?.date}}</p>
    <div class="position-relative d-flex align-items-center justify-content-center justify-content-xl-start overflow-hidden mb-4 img-post">
        <figure>
            <img [src]="post?.image" [alt]="post?.title" class="w-100">
        </figure>
    </div>
    <p>{{post?.text}}</p>
</section>