.img-post {
    height: 170px;
}

@media (min-width: 768px) {
    .img-post {
        height: 270px;
    }
}

@media (min-width: 1050px) {
    .img-post {
        height: 460px;
    }
}
@media (min-width: 1400px) {
    .img-post {
        height: 540px;
    }
}